################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BirthList/.vs/BirthList/v16
/BirthList/BirthList/Client/obj
/BirthList/BirthList/Server/obj
/BirthList/BirthList/Shared/obj
/BirthList/BirthList/Client/bin/Debug/net5.0
/BirthList/BirthList/Server/bin/Debug/net5.0
/BirthList/BirthList/Shared/bin/Debug/net5.0
